:root {
  background: white;

  --safe-bottom: env(safe-area-inset-bottom);
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.chat-html p {
  margin-bottom: 10px;
}

.chat-html h1, h2, h3, ol {
  font-weight: 600;
  margin-top: 10px;
}

.chat-html li{
  margin-top: 2px;
}

.chat-html li:first-child {
  margin-top: 10px;
}

.chat-html li:last-child {
  margin-bottom: 10px;
}

.chat-html br {
  display: 2px;
}